kubernetes_version   = "1.34.9"
control_plane_flavor = "eo1a.medium"
control_plane_size   = 1
worker_flavor        = "eo2a.large"
min_replicas         = 1
max_replicas         = 10

# Optional existing network IDs. Configure OpenStack network RBAC before use.
shared_network_ids = []
